@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

 /*----------- Navigation Bar - Same for all pages -----------------*/

.navbar-expand-lg {
    background-image:linear-gradient(to bottom, rgba(79,183,188,1), rgba(79,183,188,0));
}

.bg-nav {
    background-color: #4fb7bcb5;
} 

.navbar-collapse {
    background-image:linear-gradient(to bottom, rgba(79,183,188,1), rgba(79,183,188,0));
    border-radius: 5px;
    justify-content: flex-end;
    max-width: inherit;
    background-color: darkgray;
}

.nav-item {
    background-color: transparent;
    padding: 0 3rem;
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #ffffff
}

 .logo {
    background-image: url(../images/Council-Culture-Boombox-Logo.gif);
    height: 150px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.navbar {
    max-width: 100%;
    justify-content: flex-end;
    display: inline-grid;
}

.fixed-top {
    z-index: 5
}
.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

 /*----------- Navigation Bar - Device adjustment -----------------*/

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-expand-lg {
        background: none;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .logo {
        visibility: hidden;
    }
    .nav-link {
        font-size: 13px;
        padding: 0.5rem 0rem;
    }
}

 /*----------- Footer Same for all pages -----------------*/

footer {
    background-color: rgba(214, 16, 32, 0.7);
    min-height: 60px;
}

footer .list-inline {
    text-align: center;
}

.social-links {
    padding-top: 4px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    margin: 5px 0 5px 25px;
}

.social-links li a i:hover {
    background: #4fb7bc;
}

#footer-details ul {
    margin-bottom: 0;
}

 /*----------- Footer - Device adjustment -----------------*/

@media (max-width: 767px) {
    .social-links {
    padding-top: 0;
    justify-content: center;
    text-align: center;
    }

    .social-links li a i {
    width: 33px;
    height: 33px;
    padding: 9px 0px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    }

    footer {
        min-height: auto;
    }

    #footer-details {
        padding: 0;
    }
}

 /*----------- Home Page -----------------*/

 /*----------- Home Page - Body -----------------*/

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #dfd8d8;
}

.concert-blur {
    background-image: url(../images/concert-blur4.jpg);
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.row {
    margin: 0 auto;
}

 /*----------- Home Page - Header includes Group Synopsis -----------------*/

 /*----------- Home Page - Latest release banner  -----------------*/

.single-release {
    text-align: center;
    margin: 6% 33% 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.35s ease-in-out;
    border-color: darkmagenta;
}

.single-release h2 {
    margin-bottom: 0;
}

.single-release ul {
    margin-bottom: 1px;
}

.single-release .header-download {
    z-index: 50;
}

.header-download li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0px;
    border-radius: 50%;
    border-style: groove;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 7px;
}

.header-download li a i:hover {
    background: #4fb7bc;
}

.header-text {
    text-align: center;
    color: #ed2224;
    text-transform: uppercase;
    background-color: #dee2e6;
    margin-top: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border-style: double;
    border-color: #4fb7bc;
    padding: 3px;
}

button {
    background-color: transparent;
}

 /*----------- Home Page - Group band image  -----------------*/

.bandgroup {
    mix-blend-mode: color-burn;
    margin-top: -2%;
    vertical-align: middle;
}

.bandgroup img {
    width: 100%;
}

 /*----------- Home Page - Council Culture white logo  -----------------*/

.cc-header-logo {
    text-align: center;
}

.cc-logo-white {
    width: 70%;
    margin-top: -5%;
}

.tabletsizeandabove-row .col-12 {
    border-bottom: solid;
    border-color: #4fc3c3;
}

.tabletsizeandabove-row .col-6 {
    padding-top: 1%;
}

.mobile-row {
    display: none;
}

.border-bottom {
    display: none;
}

 /*----------- Home Page - Parental advisory notice  -----------------*/

.advisory-notice {
    width: 10%;
    vertical-align: baseline;
    margin: -2% 0 0 90%;
}

.advisory-notice-mobile {
    display: none;
}

 /*----------- Home Page - Grafitti and quotes -----------------*/

.header-text-mobile {
    display: none;
}

.grafitti-image {
    background-image: url(../images/graffiti.jpg);
    background-size: cover;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    font-stretch: condensed;
    mix-blend-mode: multiply;
}

.grafitti-image .row {
    color: #ffffff;
    background-color: rgba(78, 97, 140, 0.9);
}

.grafitti-image h5 {
    margin-top: 6px;
    margin-bottom: 2px;
}

.uncut-color {
    color: #e1dea0;
}

.nme-color {
    color:#ec3135
}

.mojo-color {
    color:#4fb7bc
}

.q-color {
    color:#000000
}

 /*----------- Home Page - Individual band members -----------------*/

.band-members .container {
    padding: 0;
}

.band-members .container .row .col img {
    width: 90%;
    margin: 5% auto 0;
    height: 90%;
    border-radius: 50px;
    image-rendering: -webkit-optimize-contrast;
}

.band-quotes {
    color: #ffffff;
    text-align: center;
    background-color: #000000a6;
}

.band-members {
    background-color:rgba(255, 255, 213, 0.29);
}

.band-members .container {
    max-width: 1300px;
}

.band-quotes .container {
    max-width: 1300px;
    padding-left: 0;
}

.racer-border {
    border-bottom: solid;
    border-color: #66ab4e;
    font-size: 28px;
}

.max-border {
    border-bottom: solid;
    border-color: #42a0a0;
    font-size: 28px;
}

.tuned-border {
    border-bottom: solid;
    border-color: #af65af;
    font-size: 28px;
}

.walker-border {
    border-bottom: solid;
    border-color: #e1dea0;
    font-size: 28px;
}

.murder-scene {
    background-image: url(../images/murder-scene2.jpg);
    background-size: cover;
    background-position-y: center;
    display: block;
    height: auto;
}

.band-members-mobile {
    display: none;
}

.band-quotes-mobile {
    display: none;
}

 /*----------- Home Page - device adjustments -----------------*/

@media (max-width: 1199px) {
    .single-release {
        margin: 6% 30% 0%;
        height: 8rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .header-text {
        font-size: 1.5rem;
    }

    button {
        margin-bottom: 2%;
    }

    .header-download li a i {
        width: 45px;
        height: 45px;
        padding: 12px 0px;
        font-size: 19px;
    }
}

@media (max-width: 991px) {
    .logo {
        visibility: hidden;
    }

    .header-text {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .tabletsizeandabove-row .col-6 {
        font-size: 16px;
    }

    .tabletsizeandabove-row .container {
        width:100%;
        max-width: none;
    }

    .header-download li a i {
        width: 40px;
        height: 40px;
        padding: 12px 0px;
        font-size: 19px;
    }

    .grafitti-image h5 {
        font-size: 16px;
    }

    .band-quotes p {
    font-size: 16px;
    }

    .walker-border strong {
        font-size: 20px;
    }

    .tuned-border strong {
        font-size: 20px;
    }

    .max-border strong {
        font-size: 20px;
    }

    .racer-border strong {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .single-release {
        margin: 7% 2% 0%;
        height: 7rem;
        width: 228px;
        padding:2%;
    }

    .bandgroup {
        margin-top: 10%;
    }

    h2 {
        font-size: 0.8rem;
    }

    ul {
        margin-bottom: 0;
    }

    .single-release ul {
        text-align: -webkit-center;
    }

    .header-download li a i {
        width: 35px;
        height: 35px;
        padding: 8px 0px;
        font-size: 16px;
        margin-left: 2px;
    }

    .list-inline-item:not(:last-child) {
    margin-right: 0;
    }

    .single-release .list-inline-item {
        display: contents;
    }

    .header-text {
        font-size: 0.9rem;
        margin-top: 5px;
        margin-bottom: -10px;
    }

    .tabletsizeandabove-row {
        display: none;
    }

    .header-text-mobile {
        display: inline-block;
        max-width: none;
    }

    .mobile-row {
        display: inherit;
        margin-bottom: 0.5rem;
        font-size: small;
    }

    .col-10 {
        font-size: 8px;
        margin: 3px auto 0px;
    }

    .col-12{
        display: none;
    }

    .border-synopsis-bottom {
        display: inherit;
        border-style: solid;
        border-color: #ec3135;
        margin: 0 auto;
        border-width: thin;
        margin-bottom: 1%;
    }

    .advisory-notice-mobile {
        display: inline;
        width: 18%;
        vertical-align: baseline;
        margin: -2% 0 0 80%;
    }

    .advisory-notice {
        display: none;
    }

    .grafitti-image {
    font-weight: 600;
    font-size: xx-small;
    }

    .grafitti-image h5 {
        font-size: 11px;
    }

    .grafitti-image .col-4 {
        flex: none;
        max-width: none;
    }

    .grafitti-image .col-8 {
        flex: none;
        max-width: none;
    }

    .band-members {
        display: none;
    }

    .band-quotes {
        display: none;
    }

    .band-members-mobile {
        display: inherit;
        background-color:rgba(255, 255, 213, 0.29);
    }

    .band-quotes-mobile {
        display: inherit;
        color: #ffffff;
        text-align: center;
    }

    .band-members-mobile .container {
        padding: 0;
    }

    .band-members-mobile .container .row .col img {
        width: 70%;
        margin: 5% auto 0 5%;
        height: 90%;
        border-radius: 40px;
        image-rendering: -webkit-optimize-contrast;
    }

    .band-members-mobile .container {
        max-width: 1300px;
    }

    .band-quotes-mobile .container {
        max-width: 1300px;
        padding-left: 0;
        background-color: #000000a6;
    }

    .band-quotes-mobile p {
        font-size: 11px;
    }

    .murder-scene {
        background-position-x: center;
    }

    .walker-border strong {
        font-size: 16px;
    }

    .tuned-border strong {
        font-size: 16px;
    }

    .max-border strong {
        font-size: 16px;
    }

    .racer-border strong {
        font-size: 16px;
    }
}

 /*----------- Music Page - Music and Events Banner -----------------*/

.banner-music {
    margin-top: 160px;
    text-transform: uppercase;
}

.music-banner {
    background-color: #ec3134bd;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1%;
}

.banner-mobile-music {
    display: none;
}

 /*----------- Music Page -----------------*/

 /*----------- Music Page - Backdrop -----------------*/

.estate {
    background-image: url(../images/Estate-stretch.jpg);
    background-size: cover;
    background-attachment: fixed;
}

 /*----------- Music Page - Album covers -----------------*/

.album-image-section .container {
    padding: 0;
    margin-bottom: 20px;
}

.album-image-section .row {
    background-color: #ffffffa6;
    margin: 0 auto;
    border-radius: 20px;
}

.album-image-section .col {
    padding-left: 30px;
    padding-right: 30px;
}

.album-image-section ul {
    margin-bottom: -1rem;
}

.album-image-section img {
    width: 100%;
    margin: 20% auto 0;
    height: 50%;
    image-rendering: -webkit-optimize-contrast;
    border-style: solid;
    border-width: thick;
    border-color: #ffffff;
    border-radius: 20px;
}

.album-image-section .container .row .col .list-inline {
    display: flex;
    justify-content: center;
}

 /*----------- Music Page - Title Tracks -----------------*/

.titles {
    text-transform: uppercase;
    text-align: start;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.8);
}

.titles li {
    text-align: left;
    margin-left: 15%;
    color: #ffffff;
    font-size: medium;
}

.titles row {
    width: inherit;
}

.titles p {
    margin-left: 43px;
}

.titles button {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
}

.sc-ones {
    color: #4fb7bc;
}

.afterlife {
    color:#ec3135;
}

.routes {
    color: #ffffd5;
}

.invisible-title {
    color: #ffffff;
}

.aftermath {
    color: #969696;
}

.titles-mobile {
    display: none;
}

 /*----------- Music Page - Device adjustment -----------------*/

@media (max-width: 1199px) {
    .estate {
        background-position: right;
    }

    .album-image-section .col {
    padding-left: 15px;
    padding-right: 15px;
    }

    .titles ol {
        padding-left: inherit;
    }

    .titles p {
        margin-left: 18px;
    }

    .titles {
        margin-bottom: 40%;
    }

    .titles .col {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1199px) {
    .album-image-section .container {
        max-width: 1300px;
    }

    .titles .container {
        max-width: 1300px;
    }
}

@media (max-width: 991px) {
    .album-image-section .col {
    padding-left: 15px;
    padding-right: 15px;
    }

    .titles ol {
        padding-left: inherit;
    }

    .titles p {
        margin-left: -10px;
    }

    .titles .container strong {
        text-align: initial;
        font-size: large;
    }

    .titles .container li {
        padding-left: inherit;
        font-size: small;
    }
    
    .titles p {
        margin-left: -10px;
        text-align: start;
    }

    .titles .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 43px;
    }

    .titles .container li {
        margin-left: 0%;
    }

    .titles .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .album-image-section .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .album-image-section .container .row .col .list-inline-item {
        margin-right: 0;
    }

    .logo-music .row {
        visibility: inherit;
        place-content: center;
        background-image: url(../images/Council-Culture-Boombox-Logo.gif);
        height:300px;
        width: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }

    .banner-music {
        margin-top: 10px;
        margin-bottom: 10px;
        place-content: center;
        background-color: #ec3134bd;
        text-align: -webkit-center;
    }

    .music-banner {
        background: transparent;
        vertical-align: center;
        color: #ffffff;
        margin-bottom: 1%;
    }

    .banner-music .row {
        justify-content: center;
    }
}

@media (min-width:768px) {
    .album-mobile {
        display: none;
    }
}

@media (max-width:767px) {
    .album-mobile img {
    width: 40%;
    margin: 0 auto 0;
    height: 50%;
    image-rendering: -webkit-optimize-contrast;
    border-style: solid;
    border-width: thick;
    border-color: #ffffff;
    border-radius: 20px;
    }

    .album-mobile li {
        color: #ffffff;
    }   

    .album-image-section {
        display: none;
    }

    .titles {
        display: none;
    }

    .titles-mobile {
        display: inherit;
    }

    .titles-mobile button {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
    }

    .titles-mobile ol {
        display: contents;
    }

    .titles-mobile li {
        margin-left: 14px;
        margin-right: 0;
        font-size: 12px;
    }

    .album-mobile .container {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: -25px;
    }

    .album-mobile img {
        width: 80%;
    }

    .album-mobile .header-download li a i {
        width: 30px;
        height: 30px;
        padding: 5px 0;
        font-size: 15px;
        margin-top: 10px;
    }

    .titles-mobile {
        text-transform: uppercase;
    }

    .titles-mobile .row {
        background-color: rgba(78, 78, 78, 0.9);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .aftermath-mobile-list {
        max-width: fit-content; 
        text-align: start;
    }

    .album-mobile p {
        margin-bottom: 0;
    }

    .album-mobile ol {
        padding-left: 10px;
        font-size: small;
    }

    .logo-music .row {
        width: 220px;
        background-position: top;
        margin-top: 10px;
    }

    .banner-music {
        display: none;
    }

    .banner-mobile-music{
        display: inherit;
        margin-top: -160px;
        margin-bottom: 10px;
        place-content: center;
        background-color: #ec3134bd;
        text-transform: uppercase;
    }

    .banner-mobile-music .row {
        justify-content: center;
    }

    .banner-mobile-music .music-banner {
        margin-bottom: 0;
    }

    .banner-mobile-music h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}



 /*----------- Events Page -----------------*/

  /*----------- Events Page - Backdrop -----------------*/

.glass-hole {
    background-image: url(../images/glass-broken-icarus-napa-crop.jpg);
    display: flow-root;
    background-size: cover;
    background-attachment: fixed;
}

 /*----------- Events Page - Gigs banner -----------------*/

.banner-gigs {
    margin-top: 160px;
    text-transform: uppercase;
}

.gigs-banner {
    background-color: #65ab4e83;
    text-align: center;
    color: #000000;
    margin-bottom: 1%;
}

.banner-mobile-gigs {
    display: none;
}

  /*----------- Events Page - Event media quotes -----------------*/

.event-media-quotes {
    margin-top: 10px;
    text-align: center;
    height: 200px;
    margin-bottom: 20px;
}

.event-media-quotes .row {
    height: 200px;
    font-weight: 600;
    font-size: 20px;
    background-color: #e9e9e9e1;
    border-radius: 10px;
    padding-top: 5px;
}

.event-media-quotes .col-6 {
    padding-left: 0;
    padding-right: 20px;
}

/*----------- Events Page - Event table -----------------*/

.table-section {
    min-width: fit-content;
}

.table {
    margin-left: 5%;
    border-style: solid;
    border-radius: 10px;
    border-color: #4fb7bc;
    display: table-cell;
    width: max-content;
    background-color: #e9e9e9e1;
    height: fit-content;
}

.table .table-titles {
    text-transform: uppercase;
    text-decoration: underline;
    background-color: #65ab4e83;
}

.table td {
    border-top: hidden;
    font-weight: 600;
}

.table th {
    border-top: hidden;
}

.table a {
    color: #000000;
}

/*----------- Events Page - Room 2 Jam Jar image -----------------*/

.room-2 img {
    width: 400px;
    mix-blend-mode: color-burn;
    margin-left: 800px;
    margin-top: -136px;
}

.table-section {
    display: flex;
}

  /*----------- Events Page - Device adjustment -----------------*/

@media (max-width: 1199px) {
    .glass-hole {
        background-position-x: center;
    }

    .event-media-quotes {
        margin-top: 10px;
    }

    .table {
        margin: 4%;
        margin-right:0;
    }

    .room-2 img {
        margin-top: -140px;
        margin-left: 620px;
    } 
}

@media (max-width: 991px) {
    .room-2 {
        text-align: center;
    }

    .room-2 img {
        margin-top: 0;
        margin-left: 0;
        width: 250px;
    }

    .event-media-quotes {
        margin-bottom: 0;
        margin-top: 25px;
    }

    .event-media-quotes .row {
        font-size: 16px;
    }

    .table-section {
        justify-content: center;
    }

    .banner-gigs {
        margin-top: 10px;
        margin-bottom: 10px;
        place-content: center;
        background-color: #65ab4e83;
        text-align: -webkit-center;
    }

    .gigs-banner {
        background: transparent;
        vertical-align: center;
        color: #000000;
        margin-bottom: 1%;
    }

    .banner-gigs .row {
        justify-content: center;
    }


    .logo-events {
        visibility: inherit;
    }

    .logo-events .row {
        visibility: inherit;
        place-content: center;
        background-image: url(../images/Council-Culture-Logo.gif);
        height: 200px;
        width: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }   
}

@media (max-width:767px) {
    .logo-events .row {
        height: 150px;
        width: 100%;
    }
    
    .banner-gigs {
        display: none;
    }

    .banner-mobile-gigs{
        display: inherit;
        margin-top: 0;
        margin-bottom: 10px;
        place-content: center;
        background-color: #65ab4e83;
        text-transform: uppercase;
    }
    
    .banner-mobile-gigs .row {
        justify-content: center;
    }

    .banner-mobile-gigs .gigs-banner {
        margin-bottom: 0;
    }

    .banner-mobile-gigs h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .event-media-quotes .row {
        font-size: 11px;
        height: 160px;
        font-weight: 500;
    }
    
    .event-media-quotes .col-12 {
        display: inherit;
    }

    .event-media-quotes .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .event-media-quotes p {
        margin-bottom: 0;
    }

    .super-unison {
        justify-content: center;
        margin-top: -20px;
    }

    .table {
        width: 100%;
        font-size: 10px;
        margin-right: 4px;
        margin-left: 4px;
    }

    .table td {
        padding:0.4rem;
    }

    .table th {
        padding: 0.4rem;
    }

    .room-2 {
        text-align: center;
    }

    .room-2 img {
        background-position-y: center;
        margin-top: 0;
        margin-left: 0;
    }      
}


/*----------- Contacts Page -----------------*/

/*----------- Contacts Page - Backdrop  -----------------*/

.court-estate {
    background-image: url(../images/Elkston\ Court\ Blue.jpg);
    display: inline-block;
    background-size: cover;
    width:100%;
    height: 1500px;
    background-position-y: center;
}

/*----------- Contacts Page - contact statement  -----------------*/

.centre-p {
    text-align: center;
    color: #000000;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 600;
}

/*----------- Contacts Page - contact form image  -----------------*/

.contact-boombox {
    background-image: url(../images/Boombox-Blue-only-tall.gif);
    background-size: cover;
}

.contact-boombox .row {
    padding-top: 80px;
    width: 800px;
}

.contact-boombox .col {
    padding-left: 0;
}

.contact-boombox form {
    padding-left: 10px;
}

/*----------- Contacts Page - contact form  -----------------*/

.form-group {
    margin-bottom: 1.5rem;
}

.message-area {
    background-color: #ffffd5;
}

.btn-outline-danger {
    background-color: aliceblue;
    margin-bottom: 20px;
}

form {
    text-align: center;
    z-index: 60;
}

.bd-example::after {
    clear: both;
    display: block;
    content:"";
}

/*----------- Contacts Page - Darren the Rudeboy quote  -----------------*/

.darren-quote {
    text-align: center;
    margin-top: 350px;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
}

/*----------- Contacts Page - Device adjustment -----------------*/

@media (min-width: 1199px) {
    .darren-quote {
        margin-top: 450px;
    }
}

@media (max-width: 1199px) {
    .contact-boombox .row {
        width: 680px;
    }

    .court-estate {
        background-position: right;
        height: 1560px;
    }

    .darren-quote {
        margin-top: 410px;
        font-size: x-large;
    }
}

@media (max-width: 991px) {
    .logo-contact {
        visibility: inherit;
    }

    .logo-contact .row {
        visibility: inherit;
        place-content: center;
        background-image: url(../images/Council-Culture-Logo-white.gif);
        height: 200px;
        width: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }
    
    .centre-p {
        margin-top: 10px;
    }

    .contact-boombox {
        background-size: cover;
        height: 580px;
    }

    .contact-boombox .row {
        width: 490px;
        padding-top: 50px;
    }
    .darren-quote {
        margin-top: 380px;
        font-size: x-large;
    }    
}

@media (max-width: 767px) {
    .logo-contact .row {
        width: 265px;
        margin-top: -45px;
    }

    .contact-boombox {
        background-image: url(../images/Boombox-Blue-only-thin.gif);
        height: 409px;
    }

    .contact-boombox .row {
        width: 220px;
        padding-top: 40px;
    }
    
    .centre-p {
        font-size: x-small;
        margin-bottom: 0;
    }

    .form-control {
        font-size: x-small;
    }

    .custom-select {
        font-size: x-small;
    }

    .btn-outline-danger {
        font-size: x-small;
    }

    .form-group {
        margin-bottom: 0.5rem;
        margin-top: -15px;
    }

    .court-estate {
        height: 900px;
        background-position: unset;
    }

    .darren-quote {
        margin-top: 137px;
        font-size: small;
    }

    .contact-container {
        margin-top: -50px;
    }
}

@media (min-width: 576px) {
    .header-text-mobile .container {
        max-width: none;
    }
}

/*----------- Play buttons on Home page and Music page -----------------*/

.mediPlayer {
    display: contents;
}

*,
*:after,
*:before {
    box-sizing             : border-box;
    -webkit-box-sizing     : border-box;
    -moz-box-sizing        : border-box;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing    : antialiased;
    -o-font-smoothing      : antialiased;
   /*  font-smoothing         : antialiased; */
    text-rendering         : optimizeLegibility;
}

.mediPlayer .control {
    opacity        : 0; /* transition: opacity .2s linear; */
    pointer-events : none;
    cursor         : pointer;
}

.mediPlayer .not-started .play, .mediPlayer .paused .play {
    opacity : 1;
}

.mediPlayer .playing .pause {
    opacity : 1;
}

.mediPlayer .playing .play {
    opacity : 0;
}

.mediPlayer .ended .stop {
    opacity        : 1;
    pointer-events : none;
}

.mediPlayer .precache-bar .done {
    opacity : 0;
}

.mediPlayer .not-started .progress-bar, .mediPlayer .ended .progress-bar {
    display : none;
}

.mediPlayer .ended .progress-track {
    stroke-opacity : 1;
}

.mediPlayer .progress-bar,
.mediPlayer .precache-bar {
    transition        : stroke-dashoffset 500ms;

    stroke-dasharray  : 298.1371428256714;
    stroke-dashoffset : 298.1371428256714;
}