@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


 /*----------- Home Page -----------------*/

 /*----------- Body -----------------*/

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #dfd8d8;
    font-style: #ffffff;
}

.concert-blur {
    background-image: url(../images/concert-blur4.jpg);
    display: inline-block;
    background-size: cover;
}

.row {
    margin: 0 auto;
}

 /*----------- Navigation Bar -----------------*/

.navbar-expand-lg {
    background-color: #4fb7bcb5;
}

.bg-nav {
    background-color: #4fb7bcb5;
} 

.navbar-collapse {
    background-color: #4fb7bcc6;
    border-radius: 5px;
    justify-content: flex-end;
    max-width: inherit;
}

.nav-item {
    padding: 0 3rem;
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff
}

.navbar-toggler {
    background-color: #ffffff
}

 .logo {
    background-image: url(../images/Council-Culture-Boombox-Logo.gif);
    height: 150px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.navbar {
    max-width: 100%;
    justify-content: flex-end;
    display: inline-grid;
}

.fixed-top {
    z-index: 5
}
.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-expand-lg {
        background: none;
    }

    .nav-item {
        padding: 0 1rem;
    }
    
}

@media (max-width: 767px) {
    .logo {
        visibility: hidden;
    }
    .nav-link {
        font-size: 10px;
        padding: 0.2rem 0rem;
    }
}

 /*----------- Footer -----------------*/

footer {
    background-color: rgba(0,0,0,0.5);
    min-height: auto;
}

.social-links {
    padding-top: 0px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: 5px 0 5px 25px;
}

.social-links li a i:hover {
    background: #4fb7bc;
}

#footer-details {
    padding: 10px auto;
}

#footer-details ul {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .social-links {
    padding-top: 0;
    justify-content: center;
    }

    .social-links li a i {
    width: 20px;
    height: 20px;
    padding: 3px 0px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    }

    footer {
        min-height: auto;
    }

    #footer-details {
        padding: 0;
    }
}

 /*----------- Header includes to Group Synopsis -----------------*/

.single-release {
    text-align: center;
    margin: 6% 33% 0;
    background-color: rgba(196, 196, 196, 0.7);
    display: inline-flex;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.header-download li a i {
    width: 40px;
    height: 40px;
    padding: 11px 0px;
    border-radius: 50%;
    border-style: groove;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 7px;
}

.header-download li a i:hover {
    background: #4fb7bc;
}

.header-text {
    text-align: center;
    color: #ed2224;
    text-transform: uppercase;
}

.bandgroup {
    mask-image: transparent;
    mix-blend-mode: color-burn;
    margin-top: -2%;
    vertical-align: middle;
}

.cc-logo-white {
    mask-image: transparent;
    vertical-align: middle;
    width: 30%;
    margin-top: -15%;
    margin-left: 33%;
}

.col-12 {
    border-bottom: solid;
    border-color: #4fc3c3;
}

.col-6 {
    padding-top: 1%;
}

.mobile-row {
    display: none;
}

.border-bottom {
    display: none;
}

.advisory-notice {
    width: 10%;
    vertical-align: baseline;
    margin: -2% 0 0 90%;
}

.advisory-notice-mobile {
    display: none;
}


@media (max-width: 1199px) {
    .single-release {
        margin: 6% 30% 0%;
        height: 4rem;
    }

    h2 {
        font-size: 1rem;
    }
    .header-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    .single-release {
        margin: 0% 2%;
    }
    .logo {
        visibility: hidden;
    }
    .header-text {
        font-size: 1.5rem;
    }
    .col-6 {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .single-release {
        margin: 0% 2%;
        height: 2.5rem;
    }
    h2 {
        font-size: 0.6rem;
    }
    ul {
        margin-bottom: 0;
    }

    .header-download li a i {
        width: 22px;
        height: 22px;
        padding: 1px 0px;
        font-size: 9px;
        margin-left: 2px;
    }
    .list-inline-item:not(:last-child) {
    margin-right: 0;
    }

    .header-text {
        font-size: 0.6rem;
        color: #4fb7bc;
    }

    .tabletsizeandabove-row {
        display: none;
    }

    .mobile-row {
        display: inherit;
        margin-bottom: 0.2rem;
    }

    .col-10 {
        font-size: 8px;
        margin: 3px auto 0px;
    }

    .col-12{
        display: none;
    }

    .border-synopsis-bottom {
        display: inherit;
        border-style: solid;
        border-color: #ec3135;
        margin: 0 auto;
        border-width: thin;
        margin-bottom: 1%;
    }
    .advisory-notice-mobile {
        display: inline;
        width: 10%;
        vertical-align: baseline;
        margin: -2% 0 0 80%;
    }
    .advisory-notice {
        display: none;
    }
}

 /*----------- Grafitti and quotes -----------------*/


.grafitti-image {
    background-image: url(../images/graffiti.jpg);
    /* width: 100%; */
    background-size: cover;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    font-stretch: condensed;

}

.grafitti-image .row {
    color: #ffffff;
    background-color: rgba(78, 97, 140, 0.5);
}

.grafitti-image p {
    margin-top: 6px;
    margin-bottom: 2px;
}

.uncut-color {
    color: #e1dea0;
}

.nme-color {
    color:#ec3135
}

.mojo-color {
    color:#4fb7bc
}

.q-color {
    color:#000000
}

@media (max-width: 991px) {
    .grafitti-image p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .grafitti-image {
    font-weight: 600;
    font-size: xx-small;
    }

    .grafitti-image p {
        font-size: 9px;
    }
}

 /*----------- Individual band members -----------------*/

.band-members .container {
    padding: 0;
}

.band-members .container .row .col img {
    width: 90%;
    margin: 5% auto 0;
    padding: 0 auto;
    height: 90%;
    border-radius: 50px;
    image-rendering: -webkit-optimize-contrast;
}

.band-quotes {
    color: #ffffff;
    text-align: center;
}

.band-members {
    background-color:rgba(255, 255, 213, 0.29);
}

.band-members .container {
    max-width: 1300px;
}

.band-quotes .container {
    max-width: 1300px;
    padding-left: 0;
}

.racer-border {
    border-bottom: solid;
    border-color: #66ab4e;
    font-size: 28px;
}

.max-border {
    border-bottom: solid;
    border-color: #42a0a0;
    font-size: 28px;
}

.tuned-border {
    border-bottom: solid;
    border-color: #af65af;
    font-size: 28px;
}

.walker-border {
    border-bottom: solid;
    border-color: #e1dea0;
    font-size: 28px;
}

.murder-scene {
    background-image: url(../images/murder-scene2.jpg);
    background-size: cover;
    background-position-y: center;
    display: block;
    height: auto;
}

.band-members-mobile {
    display: none;
}

.band-quotes-mobile {
    display: none;
}

@media (max-width: 991px) {
    .band-quotes p {
    font-size: 15px;
    }

    .walker-border strong {
        font-size: 20px;
    }

    .tuned-border strong {
        font-size: 20px;
    }

    .max-border strong {
        font-size: 20px;
    }

    .racer-border strong {
        font-size: 20px;
    }  
}

@media (max-width: 767px) {
    .band-quotes-mobile p {
        font-size: 8px;
    }

    .band-members {
        display: none;
    }

    .band-quotes {
        display: none;
    }

    .band-members-mobile {
        display: inherit;
        background-color:rgba(255, 255, 213, 0.29);
    }

    .band-quotes-mobile {
        display: inherit;
        color: #ffffff;
        text-align: center;
    }

    .band-members-mobile .container {
        padding: 0;
    }

    .band-members-mobile .container .row .col img {
        width: 70%;
        margin: 5% auto 0 5%;
        padding: 0 auto;
        height: 90%;
        border-radius: 40px;
        image-rendering: -webkit-optimize-contrast;
    }



    .band-members-mobile .container {
        max-width: 1300px;
    }

    .band-quotes-mobile .container {
        max-width: 1300px;
        padding-left: 0;
    }

    .murder-scene {
        background-position-x: center;
    }

    .walker-border strong {
        font-size: 16px;
    }

    .tuned-border strong {
        font-size: 16px;
    }

    .max-border strong {
        font-size: 16px;
    }

    .racer-border strong {
        font-size: 16px;
    }  
    
}

 /*----------- Music Page -----------------*/

.estate {
    background-image: url(../images/Estate-stretch.jpg);
    display: flow-root;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    margin-top: 160px;
}

.music-banner {
    background-color: #ec3134bd;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1%;
}

.album-image-section .container {
    padding: 0;
}

.album-image-section .row {
    background-color: #ffffffa6;
    margin: 0 auto;
    border-radius: 20px;
}

.album-image-section .col {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1199px) {
    .album-image-section .col {
    padding-left: 15px;
    padding-right: 15px;
    }

    .titles ol {
        padding-left: inherit;
    }

    .titles p {
        margin-block-end: auto;
        margin-left: -10px;
    }
}


.album-image-section img {
    width: 100%;
    margin: 20% auto 0;
    padding: 0 auto;
    height: 60%;
    image-rendering: -webkit-optimize-contrast;
    border-style: solid;
    border-width: thick;
    border-color: #ffffff;
    border-radius: 20px;
}

.album-image-section .container .row .col .list-inline {
    display: flex;
    justify-content: center;
}

@media (min-width: 1199px) {
    .album-image-section .container {
        max-width: 1300px;
    }
}

.titles {
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.6);
}

.titles li {
    text-align: left;
    margin-left: 15%;
    color: #ffffff;
    font-size: large;
}

.sc-ones {
    color: #4fb7bc;
}

.afterlife {
    color:#ec3135;
}

.routes {
    color: #ffffd5;
}

.invisible-title {
    color: #ffffff;
}

.aftermath {
    color: #969696;
}

@media (min-width: 1199px) {
    .titles .container {
        max-width: 1300px;
    }
}


/*
@media (max-width: 1199px) {
@media (max-width: 991px) {
@media (max-width: 767px) {
*/